|===
|名字|类型|描述|是否必须

{{#fields}}
|{{#tableCellContent}}`{{path}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
ifeval::["{{optional}}"=="true"]
`否`
endif::[]
ifeval::["{{optional}}"=="false"]
`是`
endif::[]
{{/tableCellContent}}

{{/fields}}
|===